.App {
  text-align: center;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

/*.App-logo{height:40vminpointer-events:none}@media(prefers-reduced-motion:no-preference){.App-logo{animation:App-logo-spininfinite20slinear}}.App-header{background-color:#282c34min-height:100vhdisplay:flexflex-direction:columnalign-items:centerjustify-content:centerfont-size:calc(10px+2vmin)color:white}.App-link{color:#61dafb}@keyframesApp-logo-spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}*/
body {
  position: relative;
}
main {
  margin-bottom: 220px;
}
.footer-bs {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 10rem;
  color: white;
}
.home {
  padding-bottom: 12rem;
  max-width: 100vw;
  margin-right: 0;
  padding-left: 0;
  overflow: hidden;
}
